<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>2018 NFL Draft data</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="../static/assets/css/styles.css" media="screen">

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-xs-9 phone-nav">
              <a class="navbar-brand" href="#" id="logo">2018 NFL Draft data</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <li><a href="/team">Team</a></li>
                 <li><a href="/position">Position</a></li>
                 <li><a href="/player">Player</a></li>
                </ul>
              </li>
              <!-- <li><a href="comparison.html">Comparison</a></li> -->
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->

    <!-- Start of container -->
    <!-- End of navbar -->
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="well">
        <h5>SELECT Player:</h5>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
      </div>
    </div>
    <canvas id="marksChart" width="100" height="100"></canvas>
      <!-- <div class="col-md-2"></div> -->
      <!--
      <div class="col-md-5">
        <div id="vert_leap_in"></div>
      </div>
      -->
      <!--
      <div class="col-md-5">
        <div id="broad_jump_in"></div>
      </div>
      -->
    </div>
  </div>
  
  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/teamapp.js') }}"></script>
          </article>
        </div>
        <div class="col-md-4">

          <!-- Start of Visualizations imageNav Area -->
          <section id="imageNav-area">
            <div class="imageNav-content">
              <h2 class="imageNav-header">Plots</h2>
              <hr />
              <div id="images">
                <a href="/team"><img src="../static/img/NFL_teams.png" alt="Age Comparison" class="imageNav-photo"></a>
                <a href="/position"><img src="../static/img/NFL_positions.png" alt="Class Comparison" class="imageNav-photo"></a>
                <a href="/player"><img src="../static/img/NFL_playars.png" alt="Class Comparison" class="imageNav-photo"></a>
              </div>
            </div>
          </section>
          <!-- End of the Visualizations imageNav Area -->

        </div>
      </section>
    </div>
    <!-- End of container -->

    <!-- Start of footer -->
    <footer class="footer navbar-fixed-bottom">
      <div class="two-toned-footer-color"></div>
      <p class="text-muted text-muted-footer text-center">
        &copy; Copyright Coding Bootcamp 2017
      </p>
    </footer>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script type="text/javascript" src="static/js/playa.js"></script>
  </body>

</html>
